footer(class="text-white")
	div(class="bg-magenta text-center font-extrabold text-xs uppercase px-4 py-2 tracking-wider")
		span Datos abiertos + derechos humanos + inteligencia artificial
	div(class="bg-revolver px-4 py-8")
		div(class="w-10/12 mx-auto flex items-center justify-between")
			div(class="w-1/6")
				img(src="/images/logos/logo_footer.svg", alt="Datasketch")
			div(class="w-1/6 flex flex-col items-start")
				a(href="#", class="uppercase font-thin text-xs mb-1 tracking-wider hover:text-magenta") quiénes somos
				a(href="#", class="uppercase font-thin text-xs mb-1 tracking-wider hover:text-magenta") contáctenos
				a(href="#", class="uppercase font-thin text-xs mb-1 tracking-wider hover:text-magenta") datasketch apps
				a(href="#", class="uppercase font-thin text-xs mb-1 tracking-wider hover:text-magenta") trabaja con nosotros
			div(class="w-1/6")
				p(class="font-extrabold text-lg uppercase tracking-widest mb-3") nuestras redes
				div(class="flex text-lg")
					a(class="hover:text-magenta mr-4", href="https://twitter.com/datasketchnews", rel="noopener noreferrer", target="_blank"): i(class="fa fa-twitter")
					a(class="hover:text-magenta mr-4", href="https://es-la.facebook.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-facebook")
					a(class="hover:text-magenta", href="https://www.instagram.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-instagram")
			div(class="w-1/6")
				div(class="flex justify-between")
					img(src="/images/logos/cc_1.png", class="w-8")
					img(src="/images/logos/cc_2.png", class="w-8")
					img(src="/images/logos/cc_3.png", class="w-8")
				p(class="text-xs mt-2") Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reúsas o adaptas recursos por favor vincula y referencia nuestro artículo o página.