header(class="container mx-auto px-4")
	div(class="flex items-center pt-4 pb-10 flex-wrap")
		p(class="w-2/3 order-1 text-revolver text-xs font-extrabold tracking-wider uppercase lnum md:w-1/3 md:order-none") #{moment().format('dddd, MMMM DD [de] YYYY')}
		div(class="w-full order-last mt-4 md:w-1/3 md:order-none md:mt-4")
			a(href="/"): img(src="/images/logos/logo.svg", alt="Datasketch", class="h-10 mx-auto")
		div(class="w-1/3 order-2 text-revolver flex justify-end text-lg md:w-1/3 md:order-none")
			a(class="hover:text-magenta mr-4", href="https://twitter.com/datasketchnews", rel="noopener noreferrer", target="_blank"): i(class="fa fa-twitter")
			a(class="hover:text-magenta mr-4", href="https://es-la.facebook.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-facebook")
			a(class="hover:text-magenta", href="https://www.instagram.com/datasketch/", rel="noopener noreferrer", target="_blank"): i(class="fa fa-instagram")
	nav
		ul(class="flex flex-col justify-between text-revolver text-xs tracking-widest md:flex-row")
			each link in menu
				li(class=`${link.key === category ? ' text-magenta' : ''} md:text-center lg:text-left px-2`)
					a(class="uppercase hover:text-magenta", href=`/s/${link.href}`) #{link.label}
			li(class="md:text-center lg:text-left px-2")
				a(class="uppercase hover:text-magenta", href="/especiales") Especiales