.content-brief p,
.content-brief p[style],
.content-brief p [style],
.content-brief p[style] [style] {
  font-family: 'PT Serif', serif !important;
  font-size: 1rem !important;
  font-style: normal !important;
  line-height: 1.5 !important;
}

.content-brief.sm p,
.content-brief.sm p[style],
.content-brief.sm p [style],
.content-brief.sm p[style] [style] {
  font-size: .875rem !important;
}