@tailwind base;
@tailwind components;

.lnum {
  -webkit-font-feature-settings: "lnum"; 
  -moz-font-feature-settings: "lnum"; 
  font-feature-settings: "lnum";
}

.ribbon {  
  @apply font-extrabold h-5 tracking-widest px-4 z-10 inline-block bg-white;
  clip-path: polygon(0 0, 0 1px, 7.5% 10px, 0 19px, 100% 20px, 100% 19px, 92.5% 10px, 100% 1px, 0 0);
  line-height: 20px;
}

.ribbon-magenta {
  @apply text-white bg-magenta;
}

.ribbon-white {
  @apply bg-white;
}

.border-striped {
  @apply relative;
}

.border-striped:before {
  @apply absolute bottom-0 h-1 w-full bg-cover;
  content: '';
  background-image: url(/images/diagonal_stripes.svg);
}

.fade-out {
  @apply relative h-full;
}

.fade-out:before {
  @apply w-full absolute left-0 bottom-0;
  content: '';
  background: none;
}

.content-brief p,
.content-brief p[style],
.content-brief p [style],
.content-brief p[style] [style] {
  font-family: 'PT Serif', serif !important;
  font-size: 1rem !important;
  font-style: normal !important;
  line-height: 1.5 !important;
}

.content-brief.sm p,
.content-brief.sm p[style],
.content-brief.sm p [style],
.content-brief.sm p[style] [style] {
  font-size: .875rem !important;
}

.btn {
  @apply uppercase px-4 py-1 text-xs tracking-widest font-extrabold shadow-md leading-loose;
}

@screen sm {
  .fade-out:before {
    @apply h-3;
    background: linear-gradient(transparent, #ffffff);
  }
}

@screen lg {
  .fade-out:before {
    @apply h-5;
  }
}

@tailwind utilities;
