extends partials/base
include mixins/post_card

block main
	div(class="w-full lg:w-5/6 xl:w-3/4 mx-auto")
		div(class="uppercase text-revolver font-extrabold tracking-wider mb-10 pb-1 border-striped")
			h2(class="text-sm lg:text-2xl") Últimos artículos
		section#tagged-posts
			each post in posts
				+post_card(post)
		#target.w-full.border-t