extends partials/base
include mixins/special_card

block main
	div(class="w-full lg:w-5/6 xl:w-3/4 mx-auto")
		div(class="uppercase text-revolver font-extrabold tracking-wider mb-10 pb-1 border-striped")
			h2(class="text-sm lg:text-2xl") Especiales
		each special in specials
			div(class="h-64 mb-10")
				+special_card(special)