.main-content {
  padding: 30px 0;
  color: rgb(14, 3, 41);
}

.post-image-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.post-image-wrapper .post-image {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.post-image {
  max-width: 100%;
}

.post-title {
  color: rgb(14, 3, 41);
  margin: 0px 0px 15px;
}

.post-title.featured-title {
  margin: 15px 0;
}

.post-title a {
  color: inherit;
}

.post-meta {
  margin-bottom: 10px;
}

.post-date {
  font-family: Lora, sans-serif;
}

.post-brief p,
.post-brief p[style],
.post-brief p > [style] {
  color: rgb(14, 3, 41) !important;
  font-family: Lora, serif !important;
  font-size: 16px !important;
  font-style: normal !important;
}

.post-brief.featured-brief p,
.post-brief.featured-brief p[style],
.post-brief.featured-brief p > [style] {
  font-size: 18px !important
}

.featured-post {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

article.post {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .post-title {
    font-size: 20px;
  }
  .post-title.featured-title {
    font-size: 30px;
  }
}